<table>
    {% for food_list in foods %}
    <tr>
        {% for food in food_list %}
        <td>
            <div class="square">
                <img src="{{ food.image.url }}" alt="{{ food.name }}"/>
                <figcaption class="tbgray">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ food.name }}<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price:
                    ${{ food.price }}
                </figcaption>
                <figcaption class="tbgreen">
                    Click here for more!
                </figcaption>
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>