<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Food Manager: Template</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo:wght@700&display=swap"
          rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
    <h1>NAME</h1>
    <a class="search-icon" onclick="menu()">
        <div id="icon">search-icon</div>
    </a>

    <a class="profile-icon" onclick="menu()">
        <div id="icon">profile-icon</div>
    </a>


    <nav class="mobile-nav">
        <div id="nav-links">
            <ul>
                <li><a href="feedback.html">Feedback</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <a class="nav-icon" onclick="menu()">
            <div id="icon">&#9776;</div>
        </a>
    </nav>
</header>

<main>
    <div class="tabdesk">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="offers.html">Offers</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="more.html">More</a></li>
            </ul>
        </nav>
    </div>
</main>

<!--
Margin to the left in order for it to not appear under the nav bar. This doesn't scale well apart from desktop.
Also, couldn't style it from CSS for some reason, so I did it here.
-->
<div style="margin-left: 256px;">
    <ul style="display: flex; flex-wrap: wrap; list-style-type: none;">
        {% for food in foods %}
        <li style="width: 25%; padding: 50px;">
            <h1>{{ food.name }}</h1>
            <p>{{ food.description }}</p>
            <p>Price: ${{ food.price }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<footer>
    <nav class="mobile-nav2">
        <div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="offers.html">Offers</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="search.html">Search</a></li>
            </ul>
        </div>
    </nav>
</footer>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>

