
body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("../images/bckgrnd.jpeg");
    background-size: cover; /* resize the image to cover the entire container */
    background-position: center;
}
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h3 {
    margin-top: 50px;
    color: white;
  }
  
  form {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    color:black
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #148f77;
  }
  
  .signup-account-button a{
    color: white;
    text-decoration: none; /* removes underline */
  }
  
  .signup-account-button:hover {
    background-color: #1abc9c;
    text-decoration: none;
    
  }

  .signup-account-label{
    color:white;
    text-shadow: 1px 1px 2px black;
  }

  .error-message {
    color: red;
    font-weight: bold;
  }
  

  
  